* {
    box-sizing: border-box
}
body {
    background-color: #363532;
}
.list-mount {
    border: 2px solid gray;
    border-radius: 5px;
}
.complete {
    background-color: lightgray;
}
.complete h5 {
    text-decoration: line-through;
}
@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;} 
} 
.fadeout {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}